<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="~{layout/fragment::head}"></th:block>
    <title></title>
</head>
<body>


<div class="container-fluid bg-body-secondary" style="min-height: 100vh">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-5 shadow rounded p-5 bg-white mt-5">
            <div class="d-flex justify-content-center align-items-center h1">
                <i class="fa-brands fa-dev me-2" style="font-size: 60px"></i>
                IMS Recruitment
            </div>

            <div class="text-center">
                <h6>Please enter your email</h6>
                <h6>And we'll send you a link to get back for account</h6>
            </div>
            <form action="" class="d-flex flex-column align-items-center justify-content-center">
                <div class="w-100 mt-4 d-flex align-items-center">
                    <label for="email" >Email</label>
                    <input type="email" class="form-control ms-4" name="email" id="email">
                </div>
                <div class="d-flex justify-content-center">
                    <input class="my-4 btn btn-secondary me-5" type="submit" value="Send" style="min-width: 80px">
                    <a class="my-4 btn btn-secondary" type="button" th:href="@{/login}"
                       style="min-width: 80px">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>