<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}"
>

<body>

<div layout:fragment="content">
    <!--  Tạo màn hình thì cứ copy cả cái trang này xong viết code trong này là được-->
    <!--  Tất cả sẽ đều được import file bootstrap với jquery rồi  -->
    <!--  Dùng xong thì xóa file này đi là được do chỉ tạo mẫu để coppy ra  -->
    <div class="text-center"> <h1>Home</h1></div>
</div>
</body>
</html>