<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="~{layout/fragment::head}"></th:block>
    <title></title>
</head>
<body>


<div class="container-fluid bg-body-secondary" style="min-height: 100vh">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-5 shadow rounded p-5 bg-white mt-5">
            <div class="d-flex justify-content-center align-items-center h1">
                <i class="fa-brands fa-dev me-2" style="font-size: 60px"></i>
                IMS Recruitment
            </div>
            <span th:if="${userSave != null and userSave.status == 'false'}" th:text="${userSave.message}" class="text-danger h5 mt-3"></span>
            <span th:if="${userSave != null and userSave.status == 'success'}" th:text="${userSave.message}" class="text-success h5 mt-3"></span>
            <form th:action="@{/user/changePassword}" method="post" class="d-flex flex-column align-items-center justify-content-center" th:object="${userChangePassword}">
                <div class="w-100 mt-4">
                    <label class="w-16 fw-semibold">Email:</label>
                    <span class="fw-semibold" th:text="${userEmail}"></span>
                    <input type="hidden"  name="email" th:value="${userEmail}">
                </div>
                <div class=" w-100 mt-4">
                    <label for="newPassword" class="fw-semibold">New Password:</label>
                    <input type="password" class="form-control mt-2" name="newPassword" id="newPassword">
                </div>
                <p th:if="${#fields.hasErrors('newPassword')}" class="text-danger mt-2 " th:errors="*{newPassword}"></p>

                <div class=" w-100 mt-4">
                    <label for="newPasswordRepeat" class="fw-semibold">Enter a new password:</label>
                    <input type="password" class="form-control mt-2" name="newPasswordRepeat" id="newPasswordRepeat">
                </div>
                <p th:if="${#fields.hasErrors('newPasswordRepeat')}" class="text-danger mt-2 " th:errors="*{newPasswordRepeat}"></p>


                <div class="d-flex justify-content-end w-100">
                    <a th:href="@{/login}" class="float-end text-decoration-none mt-4 fw-semibold">Login</a>
                </div>

                <input class="my-4 btn btn-secondary" type="submit" value="Submit" style="min-width: 80px">
            </form>
        </div>
    </div>
</div>


</body>
</html>