<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}"
>
<body>

<div layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark h3" aria-current="page">
                <span class="border-bottom border-2 border-dark">
                    User list
                </span>
            </li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center ">
        <form class="col-6 d-flex flex-row" method="get" th:action="@{/user}">
            <div class="position-relative d-flex align-items-center w-50 me-3">
                <input placeholder="Search" name="nameSearch"
                       th:value="${userSearch.nameSearch}"
                       class="p-2 bg-body-secondary w-100 border-0 rounded"/>
                <button type="submit" class="position-absolute border-0 bg-body-secondary h-75" style="right: 10px">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="position-relative d-flex align-items-center w-5 ">
                <select class="p-2 bg-body-secondary w-100 border-0 rounded" name="role">
                    <option th:selected="${userSearch.role == null}" th:value="${null}"> Role</option>
                    <option  th:selected="${userSearch.role != null && userSearch.role.name() == 'ROLE_RECRUITER'}"
                             value="ROLE_RECRUITER" > Recruiter</option>
                    <option th:selected="${userSearch.role != null && userSearch.role.name() == 'ROLE_INTERVIEW'}"
                            value="ROLE_INTERVIEW" > Interviewer</option>
                    <option th:selected="${userSearch.role != null && userSearch.role.name() == 'ROLE_ADMIN'}"
                            value="ROLE_ADMIN" > Admin</option>
                    <option th:selected="${userSearch.role != null && userSearch.role.name() == 'ROLE_MANAGER'}"
                            value="ROLE_MANAGER" > Manager</option>
                </select>
            </div>
        </form>

        <a th:href="@{/user/add}" class="text-decoration-none text-dark me-5">
            <i class="fa-solid fa-plus h5 p-1 border border-2 border-dark rounded-circle "></i>
        </a>
    </div>
    <div class="mt-3 bg-body-secondary table-responsive shadow rounded">
        <span class="h6 m-2 py-2" th:text="${users.getTotalElements() + ' Result'}"></span>
        <table class="table table-hover table-success">
            <thead>
            <tr class="text-center">
                <th>Username</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light text-center" th:each="user: ${users}">
                <td style="min-width: 150px" th:text="${user.fullName}"></td>
                <td style="min-width: 150px" th:text="${user.account.email}"></td>
                <td style="min-width: 150px" th:text="${user.phoneNumber}"></td>
                <td style="min-width: 150px" th:text="${user.account.role.getRole()}"></td>
                <td style="min-width: 150px" th:if="${user.account.status == true}" >Activated</td>
                <td style="min-width: 150px" th:if="${user.account.status == false}" >Deactivated</td>
                <td class="text-center" style="min-width: 150px">
                    <a th:href="@{/user/detail/{id}(id=${user.id})}"
                       class="text-decoration-none">
                        <i class="fa-regular fa-eye"></i>
                    </a>
                    <a th:href="@{'/user/edit/' + ${user.id} + '?subModule=User List'}"
                       class="text-decoration-none mx-3">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
<!--                    <a href="#" class="text-decoration-none">-->
<!--                        <i class="fa-regular fa-trash-can"></i>-->
<!--                    </a>-->
                </td>
            </tr>

            <span th:if="${userSearch.message != null}" th:utext="${userSearch.message}"
                  class="text-danger"></span>
            </tbody>
        </table>

        <nav aria-label="Page navigation example"
             th:if="${users.numberOfElements > 0}"
             class="d-flex justify-content-center m-0 align-items-center">
            <ul class="pagination d-flex align-items-center pt-2">
                <li class="page-item">
                    <a class="page-link"
                       th:with="indexPage = ${userSearch.pageIndex > 1
                       ? userSearch.getPageIndex() - 1 : 1 }"
                       th:href="@{/user(pageIndex = ${indexPage},
                       nameSearch = ${userSearch.nameSearch},
                       role = ${userSearch.role})}"
                    >Previous
                    </a>
                </li>

                <li class="page-item" th:each="e : ${userSearch.pageNumbers}">
                    <a class="page-link" th:utext="${e}"
                       th:classappend="${e == userSearch.pageIndex ? 'text-danger' : ''}"
                       th:href="@{/user(pageIndex = ${e},
                       nameSearch = ${userSearch.nameSearch},
                       role = ${userSearch.role})}"
                    ></a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                       th:with="indexPage = ${userSearch.pageIndex < userSearch.pageNumbers.size()
                       ? userSearch.pageIndex + 1 :  userSearch.pageIndex}"
                       th:href="@{/user(pageIndex = ${indexPage},
                       nameSearch = ${userSearch.nameSearch},
                       role = ${userSearch.role})}"
                    >Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</body>
</html>