<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}"
>
<head>
    <link th:href="@{/css/choices.css}" rel="stylesheet">
    <script th:src="@{/js/choices.js}"></script>
    <title></title>
</head>
<body>

<div layout:fragment="content">
    <nav aria-label="breadcrumb" class="my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item h3 me-2">
                <a th:href="@{/candidate}"
                   class="text-decoration-none border-bottom border-2 border-dark text-dark">
                    Candidate List
                </a>
            </li>
            <li class="breadcrumb-item text-primary h3 " aria-current="page">
                <span class="border-bottom border-2 border-primary">
                    Edit Candidate
                </span>
            </li>
        </ol>
    </nav>
    <div class="bg-body-secondary p-3 shadow rounded">
        <span th:utext="${message}"></span>
        <form th:action="@{/candidate/edit/{id}(id = ${candidate.id})}" th:object="${candidateRequest}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${candidate.id}"/>
            <h3>I. Personal information</h3>
            <div class="d-flex flex-lg-row flex-column ms-5">
                <div class="col-12 col-lg-6 me-3">
                    <label for="fullName" class="w-25 h5">Full name<span class="text-danger">*</span></label>
                    <input type="text" id="fullName" name="fullName"
                           class="w-50 my-3 p-1 border border-dark rounded" required
                           placeholder="Enter name" th:value="${candidate.fullName}"/>
                    <p th:if="${#fields.hasErrors('fullName')}" class="text-danger text-center"
                       th:errors="*{fullName}"></p>
                    <label for="dob" class="w-25 h5">D.O.B<span class="text-danger">*</span></label>
                    <input type="date" id="dob" name="dob" th:value="${candidate.dob}" required
                           class="w-50 my-3 p-1 border border-dark rounded"/>
                    <p th:if="${#fields.hasErrors('dob')}" class="text-danger text-center"
                       th:errors="*{dob}"></p>
                    <label for="phoneNumber" class="w-25 h5">Phone number<span class="text-danger">*</span></label>
                    <input type="text" id="phoneNumber" name="phoneNumber"
                           class="w-50 my-3 p-1 border border-dark rounded" required
                           placeholder="Enter phone number" th:value="${candidate.phoneNumber}"/>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger text-center"
                       th:errors="*{phoneNumber}"></p>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="email" class="w-25 h5">Email<span class="text-danger">*</span></label>
                    <input type="email" id="email" name="email"
                           class="w-50 my-3 p-1 border border-dark rounded" required
                           placeholder="Enter email" th:value="${candidate.email}"/>
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger text-center"
                       th:errors="*{email}"></p>
                    <label for="address" class="w-25 h5">Address<span class="text-danger">*</span></label>
                    <input type="text" id="address" name="address"
                           class="w-50 my-3 p-1 border border-dark rounded" required
                           placeholder="Enter address" th:value="${candidate.address}"/>
                    <p th:if="${#fields.hasErrors('address')}" class="text-danger text-center"
                       th:errors="*{address}"></p>
                    <label for="gender" class="w-25 h5">Gender</label>
                    <select name="gender" id="gender"
                            class="w-50 my-3 p-1 border border-dark rounded">
                        <option selected value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHER">Other</option>
                    </select>
                    <p th:if="${#fields.hasErrors('gender')}" class="text-danger text-center"
                       th:errors="*{gender}"></p>
                </div>
            </div>
            <h3>II. Professional information</h3>
            <div class="d-flex  flex-lg-row flex-column ms-5 ">
                <div class="col-12 col-lg-6 me-3">
                    <div class="d-flex align-items-center w-100">
                        <label for="cv" class="w-25 h5 me-1">CV Attachment<span class="text-danger">*</span></label>
                        <label for="cv" id="fileName"
                               th:utext="${candidate.cv}"
                               class="border-dark border rounded w-50 my-3 bg-white p-1 overflow-hidden">
                            <i class="fa-solid fa-link mt-1 me-2 float-end"></i>
                        </label>
                        <input type="file" id="cv" name="cv" class="d-none"/>
                    </div>
                    <label class="w-25 h5" for="position">Position<span class="text-danger">*</span></label>
                    <select name="position" id="position"
                            class="w-50 my-3 p-1 rounded border border-dark" required>
                        <option th:selected="${candidate.position.name() == 'BACKEND_DEVELOPER'}"
                                value="BACKEND_DEVELOPER">Backend Developer
                        </option>
                        <option th:selected="${candidate.position.name() == 'BUSINESS_ANALYST'}"
                                value="BUSINESS_ANALYST">Business Analyst
                        </option>
                        <option th:selected="${candidate.position.name() == 'TESTER'}"
                                value="TESTER">Tester
                        </option>
                        <option th:selected="${candidate.position.name() == 'HR'}"
                                value="HR">HR
                        </option>
                        <option th:selected="${candidate.position.name() == 'PROJECT_MANAGER'}"
                                value="PROJECT_MANAGER">Project manager
                        </option>
                    </select>
                    <p th:if="${#fields.hasErrors('position')}" class="text-danger text-center"
                       th:errors="*{position}"></p>
                    <div class="d-flex flex-row my-3">
                        <label class="w-25 h5 me-1" for="skills">Skill<span class="text-danger">*</span></label>
                        <select name="skills" id="skills" class="w-50 my-3 p-1" multiple required>
                            <option th:each="s: ${skills}"
                                    th:value="${s.id}"
                                    th:selected="${skillIds.containsAll(s.id)}"
                                    th:utext="${s.name}"></option>
                        </select>
                    </div>
                    <p th:if="${#fields.hasErrors('skills')}" class="text-danger text-center"
                       th:errors="*{skills}"></p>
                    <label class="w-25 h5" for="recruiterId">Recruiter</label>
                    <select name="recruiterId" id="recruiterId"
                            class="w-50 my-3 p-1 border border-dark rounded">
                        <option selected>Select a Recruiter</option>
                        <option th:each="r : ${recruiters}"
                                th:selected="${candidate.recruiter.id == r.id}"
                                th:value="${r.id}"
                                th:utext="${r.fullName}"
                                th:if="${recruiters != null && r.account.role.name() == 'ROLE_RECRUITER'}"
                        ></option>
                    </select>
                    <p th:if="${#fields.hasErrors('recruiterId')}" class="text-danger text-center"
                       th:errors="*{recruiterId}"></p>
                </div>
                <div class="col-12 col-lg-6">
                    <label class="w-25 h5">Status</label>
                    <select name="status" id="status"
                            class="w-50 my-3 p-1 border border-dark rounded">
                        <option selected value="OPEN">Open</option>
                    </select>
                    <p th:if="${#fields.hasErrors('status')}" class="text-danger text-center"
                       th:errors="*{status}"></p>
                    <label for="yearOfExperience" class="w-25 h5">Year of experience</label>
                    <input type="number" id="yearOfExperience" name="yearOfExperience"
                           class="w-50 my-3 p-1 border border-dark rounded"
                           placeholder="Enter a number" th:value="${candidate.yearOfExperience}"/>
                    <p th:if="${#fields.hasErrors('yearOfExperience')}" class="text-danger text-center"
                       th:errors="*{yearOfExperience}"></p>
                    <label class="w-25 h5" for="highestLevel">Highest level</label>
                    <select name="highestLevel" id="highestLevel"
                            class="w-50 my-3 p-1 border border-dark rounded">
                        <option selected value="HIGH_SCHOOL">High school</option>
                        <option value="BACHELOR_S_DEGREE">Bachelor's Degree</option>
                        <option value="MASTER_DEGREE_PhD">Master Degree</option>
                    </select>
                    <p th:if="${#fields.hasErrors('highestLevel')}" class="text-danger text-center"
                       th:errors="*{highestLevel}"></p>
                    <label for="note" class="w-25 h5">Note</label>
                    <input type="text" id="note" name="note"
                           class="w-50 my-3 p-1 border overflow-hidden border-dark rounded"
                           th:value="${candidate.note}"/>
                </div>
            </div>
            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-secondary me-5" style="min-width: 80px">Submit</button>
                <a type="button" th:href="@{/candidate}" style="min-width: 80px" class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
    <script th:src="@{/js/candidate.js}"></script>
</div>
</body>
</html>